* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --light-grey: #BFBFBF;
    --medium-grey: #919191;
    --dark-grey: #333;
    --yellow: #eedcc0;
    --brown: #a8977c;
}

@font-face {
    font-family: Simplifica;
    src: url(fonts/simplifica-typeface.ttf);
}

@font-face {
    font-family: Sukhumvit-thin;
    src: url(fonts/SukhumvitSet-Thin.ttf);
}
@font-face {
    font-family: Sukhumvit-text;
    src: url(fonts/SukhumvitSet-Text.ttf);
}
@font-face {
    font-family: Sukhumvit-Bold;
    src: url(fonts/SukhumvitSet-Bold.ttf);
}

/* basic elements */
body:not(#homepage) {
    background: linear-gradient(to bottom, #ffffff 0%, #f0f2f5 30%, #ffffff 100%);
    max-width: 100%;
    position: relative;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
a,
button {
    font-family: Simplifica;
    color: black;
}
a:not(.no-styling):hover{
    text-decoration: underline;
}
a.no-styling {
    font-family: Sukhumvit-thin, sans-serif;
}
h1 {
    font-size: 63px;
}
h2 {
    font-size: 29px;
}
h3 {
    font-size: 23px;
}
h4 {
    font-size: 19px;
}
p {
    font-family: Sukhumvit-thin, sans-serif;
    font-size: 16px;
}
button {
    border: none;
    background: transparent;
}
/* elements on all pages */
header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 20;
    padding: 0 5vw;
}
footer {
    width: 100%;
}

/*navigation*/
.burger {
    width: 25px;
}
header>* {
    position: fixed;
}
a#navHome {
    right: 5vw;
    top: 20px;
}
.logo {
    width: 67px;
    left: calc(100vw - 70px);
}
.lan {
    z-index: 20;
    position: fixed;
    right: calc(5vw + 70px);
    top: 25px;
}

.lan button {
    font-size: 23px;
    cursor: pointer;
}
.navMenu {
    background: white;
    padding: 26px;
    position: relative;
    left: -30px;
    height: 70px;
    width: 60vw;
    max-width: 400px;
    overflow: hidden;
}
.navMenu.expanded {
    animation: openNav .3s forwards ease;
}
@keyframes openNav {
    to {
        height: 550px;
    }
}
nav>* {
    display: block;
    font-size: 26px;
    margin-bottom: 30px;
}
.subMenu {
    padding: 40px;
}
.subMenu a {
    display: block;
    margin-bottom: 20px;
}
@keyframes drop-down {
    to {
        height: 300px;
    }
}
.hide {
    display: none;
}
#navArt span {
    text-decoration: underline;
}
.lanactive {
    color: var(--light-grey);
}
/* footer */
footer {
    height: 100px;
    position: absolute;
    bottom: -130px;
    font-family: simplifica, sans-serif;
    font-size: 19px;
}
footer img {
    width: 40px;
    margin: 0 3px;
    position: relative;
    bottom: -7px;
}
footer>div {
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
.linkedin {
    opacity: .3;
}
.modal {
    width: 100vw;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    background: rgba(255,255,255,.7);
    opacity: 0;
}


@media screen and (min-width: 1024px){
    header {
        overflow: hidden;
    }
    .burger {
        display: none;
    }
    a#navHome {
        left: 5vw;
        width: 100px;
    }
    .navMenu {
        width: 55vw;
        margin-left: 45vw;
        display: grid;
        grid-template-columns: 15ch 15ch 20ch;
        overflow: visible;
    }
    .timeline {
        position: relative;
        top: -4px; /* text inside div, not aligned as others */
        height: 70px;
        overflow: visible;
    }
    .timeline:hover {
        height: 300px;
    }
    .subMenu {
        height: 0;
        overflow: hidden;
        width: 200px;
    }
    .subMenu.drop-down {
        background: white;
        position: relative;
        left: -40px;
        animation: drop-down .3s forwards ease;
    }
    .lan {
        top: 23px;
    }
    /* form */
    .inquire-form {
        background: white;
        z-index: 30;
        border-bottom: 1px solid var(--medium-grey);
        width: 72vw;
        height: 650px;
        margin: 0 14vw;
        position: fixed;
        opacity: 0;
    }
    .modal.show {
        animation: fadeInModal .4s 0 ease-in forwards;
    }
    .inquire-form.show {
        animation: fadeIn .1s .1s ease-in forwards;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .closeMe {
        font-family: simplifica, sans-serif;
        font-size: 50px;
        color: var(--dark-grey);
        position: absolute;
        left: 50px;
        top: 50px;
        cursor: pointer;
    }
    .sign {
        width: 50%;
        padding: 150px 50px;
    }
    .quote {
        font-size: 23px;
        margin-bottom: 40px;
    }
    .personalMex {
        font-family: Sukhumvit-thin, sans-serif;
    }
    .form {
        width: 50%;
        position: absolute;
        right: 0;
        top: 50px;
        padding: 0 50px;
        font-family: Sukhumvit-bold, sans-serif;
    }
    .form input {
        width: 100%;
        height: 35px;
        margin: 5px 0 15px 0;
    }
    input.message {
        height: 170px;
    }
    button.submit {
        font-size: 40px;
        border-bottom: 1px solid var(--medium-grey);
        margin-top: 30px;
    }
    /* footer */
    footer {
        height: 70px;
        position: absolute;
        bottom: -100px;
    }
    footer>div {
        display: inline-block;
        width: auto;
        text-align: left;
        margin: 0 6.5vw;
    }
}
