body#portfolio {
    position: relative;
    width: 100%;
    padding-top: 90px;
    overflow-x: hidden;
}
body#portfolio section {
    width: 100%;
}
body#portfolio section {
    display: grid;
}
section img{
    width: 100%;
}
section h1 {
    font-size: 37px;
    display: inline-block;
    margin-right: 15px; /* the space between the artwork title and the year of creation */
}
.title span {
    font-family: simplifica, sans-serif;
}
.curve img {
    width: 14%;
    margin-left: 50%;
}
button.inquire {
    height: 50px;
    width: 130px;
    margin-right: 50px;
    border: 1px solid var(--medium-grey);
    border-radius: 3px;
    font-size: 23px;
}
.SoMeIcon {
    width: 50px;
    opacity: .3;
    margin-right: 15px;
    position: relative;
    top: 21px;
    cursor: pointer;
}
span.share {
    font-family: simplifica, sans-serif;
    font-size: 23px;
    margin-right: 15px;
}
.big-image {
    overflow: hidden;
}

@media screen and (min-width: 1200px){
    :root {
        --unit: 2vw;
    }
    body#portfolio section {
        height: calc(28 * var(--unit));
        padding: 0 calc(3.5 * var(--unit));
        grid-template-columns: calc(24* var(--unit)) calc(16 * var(--unit));
        grid-template-rows: calc(18* var(--unit)) calc(4* var(--unit)) calc(3* var(--unit));
        grid-column-gap: calc(2 * var(--unit));
        grid-row-gap: calc(1 * var(--unit));
    }
    body#portfolio section>div:not(.curve) {
        grid-row: 1/3;
        display: grid;
        grid-template-rows: calc(18 * var(--unit)) calc(4*var(--unit));
        grid-row-gap: var(--unit);
    }
    .curve {
        grid-row: 3/-1;
        grid-column: 1/-1;
    }
    .small-images {
        display: grid;
        grid-template-columns: repeat(5, calc(4 * var(--unit)));
        grid-column-gap: var(--unit);
    }
    .fetched {
        display: grid;
        grid-template-rows: repeat(11, 1fr);
    }
    .title {
        grid-row: 1/3;
    }
    .description {
        grid-row: 3/5;
        overflow-y: scroll;
        overflow-y: scroll;
    }
    .concept {
        grid-row: 5/-1;
        overflow-y: scroll;
        cursor: s-resize;
    }
    .more {
        display: none;
    }
    /* form */
    .inquire-form {
        background: white;
        z-index: 30;
        border-bottom: 1px solid var(--medium-grey);
        width: 72vw;
        height: 650px;
        margin: 0 14vw;
        position: fixed;
        opacity: 0;
    }
    .inquire-form.show {
        animation: fadeIn .1s .1s ease-in forwards;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .closeMe {
        font-family: simplifica, sans-serif;
        font-size: 50px;
        color: var(--dark-grey);
        position: absolute;
        left: 50px;
        top: 50px;
        cursor: pointer;
    }
    .sign {
        width: 50%;
        padding: 150px 50px;
    }
    .quote {
        font-size: 23px;
        margin-bottom: 40px;
    }
    .personalMex {
        font-family: Sukhumvit-thin, sans-serif;
    }
    .form {
        width: 50%;
        position: absolute;
        right: 0;
        top: 50px;
        padding: 0 50px;
        font-family: Sukhumvit-bold, sans-serif;
    }
    .form input {
        width: 100%;
        height: 35px;
        margin: 5px 0 15px 0;
    }
    input.message {
        height: 170px;
    }
    button.submit {
        font-size: 40px;
        border-bottom: 1px solid var(--medium-grey);
        margin-top: 30px;
        cursor: pointer;
    }
    .modal {
        width: 100vw;
        height: calc(100vh - 70px);
        position: fixed;
        top: 70px;
        background: rgba(255,255,255,.9);
        z-index: 3;
    }

    /* slideshow */
    .slideshow {
        width: 120vh;
        height: 90vh;
        position: fixed;
        top: 5vh;
        margin-left: calc(50vw - 60vh);
        z-index: 4;
        overflow-y: scroll;
        cursor: s-resize;
    }
    .modal>span {
        position: absolute;
        top: 30vw;
        font-size: 70px;
        font-family: simplifica, sans-serif;
    }
    .toLeft {
        left: 70px;
    }
    .toRight {
        right: 70px;
    }
    span.closeModal {
        top: 0px;
        right: 70px;
    }
    iframe {
        position: absolute;
        left: 0;
        width: 120vh;
        height: 67.5vh;
        margin-top: 10vh;
    }
    .slideshow img {
        position: absolute;
        left: 0;
        top:0;
        width: 100%;

    }
