/*general settings*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Simplifica;
    src: url(fonts/simplifica-typeface.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/roboto-thin.ttf);
}

.hide {
    display: none;
}

.active {
    text-decoration: underline;
}

.desktopOnly {
    display: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: Simplifica;
}

button:hover,
a:hover {
    text-decoration: underline;
}



body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Roboto;
}

/*we are using the mobile-first approach, which means that from here on the code is for the mobile, and the specifications for desktop are gonna be contained in the media query*/

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4
a {
    font-family: Simplifica;
}

h2 {
    font-weight: 100;
    font-size: 28px;
}


.background {
    background: url(images/mobile-bgr.png) fixed bottom no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    position: absolute;
    bottom: 0;


}

.background h1 {
    font-size: 65px;
    font-weight: 200;
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 200px
}

.background h2 {
    position: absolute;
    bottom: 160px;
    right: 5vw;

}

/*header*/

.logo {
    width: 30px;
    float: right;
    padding: 1em;
}


/*navigation*/

.burger {
    width: 25px;
    padding: 1em;
}

.navMenu {
    width: 100%;
    height: 0vh;
    position: relative;
    overflow: hidden;
    background-color: white;
    z-index: 10;

}

nav {
    position: absolute;

}

nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 2em;
    padding-bottom: .6em;
    font-size: 30px;

}

nav div.submenu {
    position: absolute;
    left: 42.4px;
    bottom: -70px;
    width: 100vw;

}

nav div.submenu a {
    font-size: 24px;
}

.lan {
    float: right;
    padding-right: 1em;

}

.lan button {
    font-size: 18px;
    font-weight: 100;
    color: #959494;
}

.closeNav {
    animation: closeNav .3s forwards ease;
}

.openNav {
    animation: openNav .3s forwards ease;
}

@keyframes closeNav {
    from {
        height: 43vh;
    }
    to {
        height: 0vh;
        margin-top: -30%;
    }
}

@keyframes openNav {
    to {
        height: 43vh;
    }
}

/*the art*/

main {
    margin-top: 60px;
}

section {
    width: 90vw;
    padding: 5vw;
}

section h1 {
    padding-bottom: .25em;
    font-size: 30px;
}

section h4 {
    padding-bottom: .25em;
}

section span {
    font-size: 18px
}

img.sculpture {
    max-width: 90vw;
}

div.centerMe {
    width: 90vw;
    text-align: center;
}

.centerMe img {
    max-width: 35vw;
}


@media screen and (min-width:509px) {

    /*header*/
    .burger {
        display: none;
    }
    .logo {
        width: 40px;
        position: absolute;
        padding: .1em;
        right: 3.9vw;
        z-index: 15;
        top: 17px
    }

    .lan button {
        font-size: 20px;
    }

    .lan {
        font-size: 20px;
        padding-top: .35em;
        padding-right: 1em;
    }

    nav a {
        display: inline;
        font-size: 20px;
    }

    nav {
        right: 120px;
        top: 25px
    }

    div.navMenu {
        height: 40px;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 91vw;
        text-align: left;
    }



    @keyframes closeNav {

        to {
            height: 40px;
        }
    }






    .background {
        background-image: url(images/desktop-bgr.png);
        width: 95vw;
        height: 80vh;
        top: 10vh;
    }

    .background h1 {
        font-size: 50px;
        width: auto;
        text-align: left;
        top: 29vh;
        left: 5vw;

    }

    .background h2 {
        font-size: 25px;
        top: 44.5vh;
        left: 5vw;
    }




}

@media screen and (min-width: 800px) {
    /*header*/
    .burger {
        display: none;
    }
    .logo {
        width: 50px;
        position: absolute;
        right: 4.519vw;
        z-index: 15;
        top: 18px
    }

    .lan button {
        font-size: 21px;
    }

    .lan {
        font-size: 23px;
        padding-top: .35em;
        padding-right: .1em;
    }

    nav a {
        display: inline;
        font-size: 25px;
    }

    nav {
        right: 120px;
        top: 25px
    }

    div.navMenu {
        height: 40px;
        padding: 1em;
        width: 88vw;
        text-align: right;
    }



    @keyframes closeNav {

        to {
            height: 40px;
        }
    }






    .background {
        background-image: url(images/desktop-bgr.png);
        width: 95vw;
        height: 80vh;
        top: 10vh;
    }

    .background h1 {
        font-size: 65px;
        width: auto;
        text-align: left;
        top: 29vh;
        left: 23vw;

    }

    .background h2 {
        font-size: 28px;

        top: 44.5vh;
        left: 27.5vw;
    }



    /*the art*/
    .desktopOnly {
        display: inline-block;
        max-width:45vw;
        padding-left:1em;
        float:right;
        position:absolute;
    }

    main {
        margin-top: 0px;
    }

    section {
        width: 90vw;
        padding: 5vw;
    }

    section h1 {
        padding-bottom: .25em;
        font-size: 30px;
    }

    section h3 {font-size:23px;

    }
    section h4 {
        padding-bottom: .25em;
    }

    section p {padding-bottom:1em;}

    section span {
        font-size: 18px
    }
    img.sculpture {
        max-width: 40vw;
    }

    div.centerMe {
        width: 90vw;
        text-align: center;
    }

    .centerMe img {
        max-width: 10vw;
    }



}
