/*general settings*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Simplifica;
    src: url(fonts/simplifica-typeface.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/roboto-thin.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
}

.hide {
    display: none;
}

.active {
    text-decoration: underline;
}

.thumbNails {
    display: none;
}

.desktopOnly {
    display: none;
}

button {
    cursor: pointer;
    border: none;
    background: white;
    font-family: Simplifica, sans-serif;
}

button:hover,
a:hover {
    text-decoration: underline;
}



body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: Roboto, sans-serif;
}

p {
    font-family: Roboto, sans-serif;
}

footer {
    width: 100%;
    font-size: 13px;
    position: absolute;
    text-align: center;
}

footer img {
    width: 30px;
    padding: .5em;
}

footer img:nth-child(3) {
    width: 34px;
    opacity: .4;

}

.desktop {
    display: none;

}

/*we are using the mobile-first approach, which means that from here on the code is for the mobile, and the specifications for desktop are gonna be contained in the media query*/

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
a {
    font-family: Simplifica;
}

h2 {
    font-weight: 100;
    font-size: 28px;
}

h4 {
    font-size: 19px;
}

.background {
    background: url(images/mobile-bgr.png) fixed bottom no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    position: absolute;
    bottom: 0;


}

.background h1 {
    font-size: 65px;
    font-weight: 200;
    width: 100vw;
    text-align: center;
    position: absolute;
    bottom: 200px;
}

.background h2 {
    position: absolute;
    bottom: 160px;
    right: 5vw;

}

/*header*/

header {
    background: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}

.logo {
    width: 30px;
    float: right;
    padding: 1em;
}


/*navigation*/

.burger {
    width: 25px;
    padding: 1em;
}

.navMenu {
    width: 100%;
    height: 0vh;
    position: relative;
    overflow: hidden;
    background-color: white;
    z-index: 10;

}

nav {
    position: absolute;

}

nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 2em;
    padding-bottom: .6em;
    font-size: 30px;


}

.lan {
    float: right;
    position: fixed;
    top: 2.6vh;
    right: 20vw;
    z-index: 20;
}

.lan button {
    font-size: 18px;
    font-weight: 100;
    color: #959494;
}

.closeNav {
    animation: closeNav .3s forwards ease;
}

.openNav {
    animation: openNav .3s forwards ease;
}

@keyframes closeNav {
    from {
        height: 43vh;
    }
    to {
        height: 0vh;
        margin-top: -30%;
    }
}

@keyframes openNav {
    to {
        height: 50vh;
    }
}

.timeline {
    position: relative;
}

.subMenu {
    position: absolute;
    top: 7vh;
    left: 10vw;
    width: 50vw;
}

.subMenu a {
    font-size: 26px;
}

/*the art*/

main {
    margin-top: 8vh;
    padding-bottom: 5em;
}

section {
    width: 90vw;
    padding: 5vw;
}

section h1 {
    padding-bottom: .25em;
    font-size: 30px;
}

section h4 {
    padding-bottom: 1em;

}

section p {
    padding-bottom: 1em;
    padding-top: 1em;
}

section span {
    font-size: 18px
}

img.sculpture {
    max-width: 90vw;
    padding-bottom: .7em
}

div.centerMe {
    width: 90vw;
    text-align: center;
}

.centerMe img {
    max-width: 35vw;
}

button.inquire {
    border: 1px black solid;
    padding: 1vh;
    font-size: 20px;
    color: #959494;
    font-family: Roboto, sans-serif;
    margin-bottom: 2.5vh;


}

/*artist*/

.mobileArtist {
    background-image: url(images/artistMobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    position: relative;
    margin-bottom: 15vh;

}

.mobileArtist img {
    width: 15px;
    padding: .2em;
    padding-top: .7em;
}

.mobileArtist img.play {
    width: 50px;
    position: absolute;
    bottom: 15vh;
    left: 15vw;
}

.mobileArtist p {
    display: inline;
}

.mobileArtist div {
    padding-left: 1.3em;
    padding-bottom: .4em;
}

.mobileArtist div:nth-child(1) {
    padding-top: 3em;
}

.caption {
    padding-bottom: 2em;
    padding-left: 1em;
    padding-top: .5em;
    position: absolute;
    bottom: -13vh;
}

.caption p {
    font-size: 14px;
}

.aboutContent p,
.aboutContent h2 {
    padding: 5vw;
}

/*timeline*/

div.line {
    height: 500vw;
    background: black;
    width: 1.5px;
    position: absolute;
    left: 5vw;
    top: 55vw;
}

.menu div,
.menu div div,
.menu h2 {
    display: inline;
}

.link img {
    max-width: 14px;
}

div.menu {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
    position: absolute;
    top: 19vw;
    left: 5vw;
}

.menu div {
    position: relative;
}

div.menuDot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
}

.menu div h2 {
    margin-left: 20px;
}

main.timeline {
    padding-left: 5vw;
    margin-top: 55vw
}

article {
    padding-left: 6vw;
    position: relative;
    margin-bottom: 60px;
}

.dot {
    position: absolute;
    left: -1vw;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 10;
}


.greyDot {
    background: #E3E3E3;
}

.yellowDot {

    background: #EEDCC0;


}

.brownDot {

    background: #A8977C;

}

.blackDot {

    background: black;

}


article h4,
.year {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

article h3 {
    font-family: Roboto-Bold;
    font-weight: 100;
    color: #959494;
}


@media screen and (min-width:509px) {

    .desktop {
        display: block;
    }

    /*header*/
    .burger {
        display: none;
    }
    .logo {
        width: 40px;
        position: absolute;
        padding: .1em;
        right: 4vw;
        z-index: 15;
        top: 17px
    }

    .lan button {
        font-size: 20px;
    }

    .lan {
        left: 4.5vh;
        font-size: 20px;

    }
    /*navigation*/
    nav a {
        display: inline;
        font-size: 29px;
    }

    nav {
        right: 45px;
        top: 25px;
        overflow: visible;
    }

    div.navMenu {
        padding-top: 1em;
        padding-bottom: 1em;
        width: 91vw;
        text-align: left;
        overflow: visible;
    }

    @keyframes closeNav {

        to {
            height: 30px;
        }
    }
    .timeline {
        display: inline;
    }

    .subMenu {
        background-color: white;
        height: 0px;
        width: 200px;
        z-index: 30;
        left: 3vw;
        top: 36px;
        overflow: hidden;

    }

    .subMenu a {
        padding-left: .6em;
        padding-top: .3em;
        display: block;
    }

    .openMe {
        animation: openMe .5s forwards ease;
    }

    .closeMe {
        animation: closeMe .5s forwards ease;
    }

    @keyframes openMe {
        to {
            height: 200px;

        }
    }

    @keyframes closeMe {
        to {
            height: 0px;

        }
    }
    /*home*/
    .background {
        background-image: url(images/desktop-bgr.png);
        width: 95vw;
        height: 80vh;
        top: 10vh;
    }

    .background h1 {
        font-size: 50px;
        width: auto;
        text-align: left;
        top: 29vh;
        left: 5vw;

    }

    .background h2 {
        font-size: 25px;
        top: 44.5vh;
        left: 5vw;
    }

    /*the art*/
    .aboutContent,
    .desktopOnly {
        display: inline-block;
        max-width: 35vw;
        padding-left: 1em;
        float: right;
    }


    section {
        display: block;
        overflow: auto;
        position: relative;
        width: 90vw;
        padding: 5vw;
        padding-top: 1vw;
    }

    section h1 {
        padding-bottom: .25em;
        font-size: 30px;
    }
    section h3 {
        font-size: 23px;
        font-weight: 100;

    }
    section h4 {
        padding-bottom: .25em;
    }

    section p {
        padding-bottom: 1em;
    }

    section span {
        font-size: 18px
    }

    img.sculpture {
        max-width: 50vw;
    }

    .gallery {
        display: inline;
        position: relative;
    }

    .thumbNails img {
        min-width: 3vh;
        max-width: 10vh;
        padding-right: .5em;
        display: inline;
    }


    div.thumbNails {
        position: absolute;
        display: block;
        top: 20px;
        /* display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(3, 1fr);*/
    }


    div.centerMe {
        position: absolute;
        bottom: 0px;
        width: 90vw;
        text-align: center;
    }

    .centerMe img {
        max-width: 10vw;
    }


    /*the artist*/
    .mobileArtist {
        display: none;
    }

    .caption {
        display: inline;
    }

    .caption h3,
    .caption p {
        padding-left: 5vw;
        max-width: 16vw;
        margin: 0px;
    }

    img.sculpture.desktop {
        padding-left: 5vw;
        padding-top: 5vw;
        margin-right: 0vw;
        display: inline;
    }


    .aboutContent {
        display: inline;
        padding-top: 5vw;
    }

    .aboutContent p,
    .aboutContent h2 {
        padding: 1vh;
    }

    .caption {
        position: absolute;
        left: 1vh;
        width:45vw;;
    }

    img.play {
        width: 50px;
        position: absolute;
        top: -29vw;
        left: 16vw;
    }

    .artistImgDesktop {
        position: relative;
        display: inline;
    }

    /*timeline*/
    div.line {
        left: 50vw;
        top: 35vh;
    }

    .menu div:hover {
        text-decoration-line: underline;
    }

    main.timeline {
        display: block;
        margin-top: 35vh;
    }

    article {
        max-width: 45vw;
    }

    article.right {
        margin-left: 129vw;
        animation: slideLeft .5s ease forwards;
    }

    article.left {
        margin-left: -130vh;
        text-align: right;
        animation: slideRight .5s ease forwards;
    }

    article.left .dot {
        left: 57.267vw;
    }

    @keyframes slideLeft {
        to {
            margin-left: 45.3vw;

        }
    }

    @keyframes slideRight {
        to {
            margin-left: -13vw;

        }
    }

}

@media screen and (min-width: 800px) {
    /*header*/
    .logo {
        width: 50px;
        position: absolute;
        right: 4.5vw;
        z-index: 15;
        top: 18px
    }

    /*home*/
    .background h1 {
        font-size: 65px;
        top: 29vh;
        left: 23vw;

    }

    .background h2 {
        font-size: 28px;
        top: 44.5vh;
        left: 27.5vw;
    }

    .lan {
        padding-left: .37em
    }

    /*the art*/
    .desktopOnly {
        position: relative;
        height: 33.1vw;
    }

    section {
        overflow: auto;
        min-height: 88vh;
        position: relative;
    }

    section h1 {
        padding-bottom: .25em;
        font-size: 30px;
    }

    section h3 {
        font-size: 23px;

    }
    section h4 {
        padding-bottom: .25em;
    }

    section p {
        padding-bottom: 1.5em;
    }

    section span {
        font-size: 18px
    }

    img.sculpture {
        max-width: 45vw
    }

    .thumbNails img {
        max-width: 9vw;
    }

    div.thumbNails {
        position: absolute;
        float: left;

    }


    .centerMe img {
        max-width: 10vw;
    }

    button.inquire {
        position: absolute;
        bottom: 0px;
    }
    /*timeline*/
    div.line {
        left: 40vw;
    }
    div.menu {

        display: flex;
        width: 100vw;
        justify-content: space-around;
        top: 130px;
        left: 0;
    }

    main.timeline {
        margin-top: 34.6vh;
        padding-left: 0;
    }

    article.left {
        width: 34vw;
        padding-left: 0;
        text-align: right;
        padding-right: 6vw;
    }
    article.left .dot {
        left: 38.17vw;
    }

    article.right .dot {
        left: 1.6vw;
    }

    @keyframes slideLeft {
        to {
            margin-left: 38.1vw;

        }
    }

    @keyframes slideRight {
        to {
            margin-left: 1.5vw;

        }
    }


}
