body#subpage {
    margin: 0;
}
#subpage input {
    width: 100%;
}

#subpage input.message {
    height: 100px;
}

#subpage div.closeMe {
    display: none;
}
#subpage button.submit {
    font-size: 33px;
    padding: 10px 0 0 0;
    width: 100px;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 1em;
}
section.subPageS, #subpage aside {
    padding: 0 5%;
    margin-top: 90px;
}
#subpage .inquire {
    font-size: 63px;
    padding: 0;
    background: transparent;
    border-bottom: 1px solid black;
    display: none;
}
#subpage .title {
    font-size: 50px;
}
#subpage form {
    margin-bottom: 50px;
}

@media screen and (min-width: 760px){
    #subpage .inquire {
        display: inherit;
    }
}
